@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PasswordStore - Your Secure Digital Vault</title>
    
</head>

<body>

    <div class="container">
        <img class="logo" src="~/Password.jpg" alt="PasswordStore Logo">
        <h1>PasswordStore - Your Secure Digital Vault</h1>

        <p>
            Elevate your digital security with <span class="highlight">PasswordStore</span> – an exquisite solution
            crafted to safeguard and streamline your sensitive credentials. Our application combines cutting-edge
            encryption with an elegant and user-friendly interface, offering a secure sanctuary for your passwords.
            Navigate the digital realm confidently, knowing that <span class="highlight">PasswordStore</span> provides a
            seamless and beautiful solution for managing your passwords. Embrace worry-free security, effortlessly.
        </p>

       
    </div>

</body>

</html>
